.snack-card{
    display: flex;
    flex-direction: column;
    margin: $s-size;
}
.sncak-card__category img{
    width: 1rem;
}
.snack-card__img{
    width: 22rem;
    height: 15rem;
    object-fit: cover;
    border-radius: $s-size;
    margin-bottom: $s-size;
}

.snack-card__button{
    padding: $s-size;
    font-family: inherit;
    font-weight: bold;
    background-color:#48d479;
    text-decoration: inherit;
    color: inherit;
    text-align: center;
    border-radius: 1rem;
}